@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

:root {
  --gray: #f5f5f5;
  --black: #2a2a2a;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #fff;
  color: var(--black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  border: unset;
  outline: unset;
}

a {
  text-decoration: unset;
}

ul {
  list-style: unset;
}

body {
  display: flex;
  justify-content: center;
}

main {
  width: 1024px;
  min-height: 100vh;
  padding-top: 15px;
  padding-bottom: 15px;
}

.md-48 {
  font-size: 48px !important;
}

main header {
  padding: 0 1rem;
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid var(--gray);
  border-bottom-color: var(--black);
}

main header h1 {
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 1024px) {
  main header h1 {
    font-size: 1.5rem;
  }
}

.basketBtn {
  position: relative;
  cursor: pointer;
}

.basketBtn span:last-child {
  background-color: var(--gray);
  position: absolute;
  z-index: 1;
  top: 0px;
  right: -10px;
  font-weight: 900;
  font-size: 1.2rem;
  border-radius: 50%;
  height: 30px !important;
  min-width: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 1rem;
  gap: 15px;
  position: relative;
}

.headerTop .search {
  flex: 1;
}

@media (max-width: 1024px) {
  .headerTop {
    display: none;
  }
}

.headerTop .search input {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  font-size: 1rem;
  border: 2px solid var(--gray);
  border-bottom-color: var(--black);
  border-radius: 3px;
  color: var(--black);
}

.headerTop .userButtons {
  display: flex;
  gap: 5px;
}

.headerTop .userButtons button {
  background-color: royalblue;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

.searchResult {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 0.5rem;
  max-height: 150px;
  overflow-y: auto;
  background-color: var(--gray);
  z-index: 2;
}

.searchResult .resultList {
  display: none;
}

.searchResult .resultList ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.searchResult .resultList ul li a {
  height: auto;
  color: var(--black);
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 10px;
}

.searchResult .noResult {
  min-height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.searchResult .noResult h4 {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  color: royalblue;
}

@media (max-width: 1024px) {
  .headerTop .userButtons {
    display: none;
  }
}

.slider {
  display: flex;
  width: 100%;
  height: 350px;
  margin-top: 1rem;
  border-radius: 3px;
  position: relative;
}

.slider .images {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.slider .images a {
  height: 100%;
  min-width: 100%;
  scroll-snap-align: start;
  position: absolute;
}

@media (max-width: 1024px) {
  .slider .images a {
    position: static;
  }
}

.slider .images a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .controls div {
  background-color: var(--black);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 50px;
}

.slider .controls div span {
  font-size: 35px !important;
}

@media (max-width: 1024px) {
  .slider .images {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
  }

  .slider .controls div {
    display: none;
  }
}

.slider .controls div span {
  color: var(--gray);
}

.slider .controls div:first-child {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.slider .controls div:last-child {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.mainMenu {
  height: 40px;
  margin-top: 1rem;
}

.mainMenu nav {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.mainMenu nav a {
  display: flex;
  width: fit-content;
  padding: 0 25px;
  height: 100% !important;
  background-color: var(--gray);
  align-items: center;
  color: var(--black);
  border-radius: 3px;
  transition: linear 0.3s;
  font-weight: 600;
}
.mainMenu nav a:hover {
  background-color: royalblue;
  color: var(--gray);
  transition: linear 0.3s;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.allProducts .productCard {
  width: 20%;
  height: auto;
  padding: 10px;
  border: 2px solid var(--gray);
  color: inherit;
}

@media (max-width: 1024px) {
  .allProducts .productCard {
    width: 33.3333%;
  }
}

@media (max-width: 469px) {
  .allProducts .productCard {
    width: 50%;
  }
}

.allProducts .productCard .cardImage {
  width: 100%;
  height: 175px;
  transition: all 0.3s;
}

.allProducts .productCard .cardImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.3s;
}

.allProducts .productCard .cardTitle h4 {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  word-break: break-all;
  padding-top: 10px;
  height: 50px;
}

.allProducts .productCard .cardPrice h4 {
  font-size: 1.5rem;
  padding-top: 10px;
}

.allProducts .productCard:hover {
  border-color: royalblue;
}

footer {
  width: 100%;
  background-color: var(--gray);
  margin-top: 2rem;
  height: 75px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--black);
  gap: 10px;
}

footer a {
  color: royalblue;
}

.mobileBottomMenu {
  display: none;
}

@media (max-width: 1024px) {
  main {
    width: unset;
    width: 100%;
    padding: 15px 1rem !important;
  }

  .basketBtn span:last-child {
    background-color: var(--gray);
    position: absolute;
    z-index: 1;
    top: 0px;
    right: -5px;
    font-weight: 900;
    font-size: 1rem;
    border-radius: 50%;
    height: 20px !important;
    min-width: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .md-48 {
    font-size: 36px !important;
  }

  .slider {
    height: 30vh;
  }

  .slider .controls div {
    width: unset;
    height: unset;
  }

  .mainMenu {
    display: none;
  }

  .mobileBottomMenu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .mobileBottomMenu span {
    color: var(--black);
  }

  .mobileBottomMenuTopScreen {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: calc(100% - 55px);
    background-color: #fff;
    z-index: 5;
    display: none;
  }

  .mobileBottomMenuTopScreen h3 {
    font-size: 1.7rem;
    background-color: var(--gray);
    padding: 15px 20px;
  }

  .mobileBottomMenuTopScreen nav {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .mobileBottomMenuTopScreen nav a {
    padding: 15px 20px;
    border-bottom: 1px solid var(--gray);
    color: var(--black);
    font-weight: 600;
  }

  footer {
    margin-bottom: 75px;
  }
}

.basketSideNav {
  position: fixed;
  background-color: var(--gray);
  right: 0;
  top: 0;
  width: 350px;
  height: 100%;
  z-index: 3;
  transform: translateX(100%);
}

@media (max-width: 768px) {
  .basketSideNav {
    width: 100%;
  }
}

.basketSideNav .sideNavTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}

.basketSideNav .sideNavTitle span {
  cursor: pointer;
}

.basketSideNav .sideNavTitle h3 {
  font-size: 1.5rem;
}

.basketSideNav .emptyBasket {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
}

.basketSideNav .emptyBasket img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.basketSideNav .basketItems {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow-y: auto;
}

.basketSideNav .basketItems .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  min-height: fit-content !important;
}

.basketSideNav .basketItems .itemTop {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.basketSideNav .basketItems .item .itemTop .productImage {
  min-width: 85px;
  max-width: 85px;
  max-height: 85px;
  background-color: #fff;
  border: 1px solid var(--black);
  padding: 3px;
  border-radius: 3px;
}

.basketSideNav .basketItems .item .itemTop .productImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.basketSideNav .basketItems .item .itemBottom {
  height: 30px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.itemBottomLeft {
  display: flex;
  height: 100%;
}

.basketSideNav .basketItems .item .itemBottom button {
  cursor: pointer;
  background-color: transparent;
  height: 100%;
  background-color: royalblue;
  color: var(--gray);
  border-radius: 50%;
}

.basketSideNav .basketItems .item .itemBottom button {
  min-height: 100%;
  width: 30px;
}

.basketSideNav .basketItems .item .itemBottom button span {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basketSideNav .basketItems .item .itemBottom button:last-child {
  position: relative;
  left: 15px;
  background-color: red;
  border-radius: unset;
  border-radius: 3px;
}

.basketSideNav .basketItems .item .itemBottom input {
  min-height: 100%;
  width: 35px;
  border-radius: 3px;
  text-align: center;
  background-color: transparent;
  font-size: 1.3rem;
}

.itemBottomRight h4 {
  font-size: 1.2rem;
}

.checkoutArea {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

.checkoutArea h3 {
  font-size: 1.7rem;
}

.checkoutArea a {
  font-size: 1.2rem;
  display: flex;
  gap: 10px;
  justify-content: center;
  color: var(--gray);
  align-items: center;
  background-color: royalblue;
  width: 100%;
  height: 45px;
  border-radius: 3px;
}

.blackScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.mobileBottomMenuTopScreen {
  display: none;
}

.productDetail {
  height: auto;
  display: flex;
  margin-top: 2vw;
  gap: 20px;
}

.productDetail .left {
  min-width: 300px;
  max-width: 300px;
  height: auto;
}

.productDetail .left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 1rem;
}

@media (max-width: 469px) {
  .productDetail {
    flex-wrap: wrap;
  }

  .productDetail .left {
    min-width: 100%;
    height: 250px;
  }

  .productDetail .left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
  }
}

.productDetail .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productDetail .right h4 {
  font-size: 1.7rem;
}

.productDetail .right p {
  font-weight: 600;
}

.productDetail .right h5 {
  font-size: 1.5rem;
}

#addToBasket {
  max-width: fit-content;
  width: auto;
  display: flex;
  align-items: center;
  padding: 7px 15px;
  font-family: inherit;
  font-weight: 900;
  font-size: 1rem;
  gap: 5px;
  border-radius: 3px;
  cursor: pointer;
  background-color: royalblue;
  color: var(--gray);
}

* {
  -webkit-user-select: none !important; /* Chrome all / Safari all */
  -moz-user-select: none !important; /* Firefox all */
  -ms-user-select: none !important; /* IE 10+ */
  user-select: none !important; /* Likely future */
}
